h1 { 
    display: flex;
    justify-content: center;
    font-family: 'Italianno', cursive;
    font-size: 60px;

}
.photo-header{
    display: none;
}
img {
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
    border: double 3px black;
}
.photogrid1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photogrid2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.photo-item {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
hr {
    width: 60%;
    border-color: rgba(159, 159, 163, 0.89);
}

/* Beginning of Media Queries */
@media screen and (min-width: 600px){
    .mainPhoto {
        display:flex;
        flex-direction: row;
        justify-content: center;
    }
    .photo-header{
        display: block;
        border-style: none;
        height: 150px;
    }
    .photo-item {
        width: 30%;
    }
    .photogrid1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .photogrid2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    hr {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}